{% extends 'base.html' %}
{% load static %}

{% block title %}Login/Register - NextGame{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/login_regiterstyle.css' %}">
    
    <div class="auth-container">
        {% if page == 'register' %}
            <div class="auth-card">
                <div class="auth-header text-center">
                    
                    <h3>Create Account</h3>
                    <p>Sign up and join the fun!</p>
                </div>

                <form method="POST" action="{% url 'register' %}" class="form auth-form">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-field">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {% for error in field.errors %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}

                    <div class="auth-actions">
                        <input class="btn btn-submit" type="submit" value="Sign Up" />
                    </div>
                </form>

                <div class="auth-alternative">
                    <p>Already have an account?</p>
                    <a href="{% url 'login' %}" class="btn-link">Log In</a>
                </div>
            </div>
        {% else %}
            <div class="auth-card">
                <div class="auth-header text-center">
                    
                    <h3>Welcome Back!</h3>
                    <p>Log in to continue</p>
                </div>

                <form method="POST" action="{% url 'login' %}" class="form auth-form">
                    {% csrf_token %}

                    <div class="form-field">
                        <label for="username">Username: </label>
                        <input class="input input-text" id="username" type="text" name="username" placeholder="Enter your username..." />
                    </div>

                    <div class="form-field">
                        <label for="password">Password: </label>
                        <input class="input input-password" id="password" type="password" name="password" placeholder="••••••••" />
                    </div>

                    <div class="auth-actions">
                        <input class="btn btn-submit" type="submit" value="Log In" />
                        <a href="" class="btn-link">Forgot Password?</a>
                    </div>
                </form>

                <div class="auth-alternative">
                    <p>Don’t have an account?</p>
                    <a href="{% url 'register' %}" class="btn-link">Sign Up</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
