{% extends 'base.html' %}
{% load static %}

{% block title %}My Account - NextGame{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/myaccount.css' %}">
<script src="{% static 'js/script.js' %}"></script>

<!-- The white rectangle positioned on the left -->
<div id="sliding-rectangle">
    <h2 class="rectangle-title">Optiuni</h2>
    <ul class="category-list">
        <li><a href="{% url 'myaccount' %}">Profile</a></li>
    </ul>
</div>

<div id="right-rectangle">
    <h2 class="rectangle-title">Quick Links</h2>
    </ul>
</div>


{% endblock %}
