
<style>
    /* Add this CSS to your existing stylesheet */
.content-box {
    width: 100%;
    max-width: 10000px; /* Adjust the max-width to your preference */
    margin: 0 auto;
}

.formWrapper {
    max-width: 10000px; /* Adjust the max-width to your preference */
    margin: 0 auto;
}



</style>
    <!-- Main Section -->
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <h4>Profile page for {{ username }}</h4>  

            </div>
        </div>  
    </main>
