{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextGame</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="home-container" style="background-color: black;">
        <button id="start-button" class="cta-button">nextGame</button>
        <div id="drop-down"></div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
